
.fa {
    padding: 20px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

i {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
    margin-right: 24px;
}

i.fa-solid.fa-address-book,
i.fa-solid.fa-calendar-check {
    margin-right: 0px;
}

i.fa-solid.fa-phone,
i.fa-solid.fa-envelope,
i.fa-solid.fa-address-book,
i.fa-solid.fa-calendar-check {
    color: black;
}

i.fa-solid.fa-j {
    background-color: tomato;
}

i.fa-solid.fa-f {
    background-color: hsl(189, 68%, 53%);
}

i.fa-solid.fa-e {
    background-color: rgb(161, 19, 161);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: x-large;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: whitesmoke;
    background-color: transparent;
  }
  a:active {
    color: black;
    background-color: transparent;
  }

nav {
    background-color: hsl(200deg 100% 75%);
}

h1,
h2,
nav,
p {
    text-align: center;
}

#pre {
    text-align: center;
  }
 
 #pre pre {
   display: inline-block;
   text-align: left;
  }

table {
    margin-left: auto;
    margin-right: auto;
}

th.start {
    text-align: start;
    background-color: hsl(200deg 100% 75%);
}

th,
td {
    padding: 6px 12px;
}

table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
    min-width: 400px;
  }

table th {
    color: black;
}

table.common {
    text-align: center;
}


  



